* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

/* CABECERA */
.header {
  position: absolute;
  width: 1440px;
  height: 101px;
  left: calc(50% - 1440px/2);
  top: 14px;
}

.header-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 118.5px;
  gap: 163.92px;
  width: 100%;
  height: 101px;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 32px;
  padding: 0;
  margin: 0;
  align-items: center;
  max-width: 691px;
}

.menu-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
  text-decoration: none;
}

.menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20.1196px;
  color: #fff;
  background: #FC5922;
  padding: 13.1686px 26.3371px;
  border-radius: 13px;
  text-decoration: none;
}

/* HERO SECTION */
.HeroSection {
  position: absolute;
  width: 1440px;
  height: 1906px;
  left: calc(50% - 1440px/2);
  top: 0;
  background: linear-gradient(135deg, #FFF7ED 0%, #FFFFFF 50%, #FFF7ED 100%);
}

.hero-contenedor {
  position: relative;
  width: 100%;
  height: 100%;
}

.HeroSection h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  text-align: center;
  color: #1F1F1F;

  position: absolut
}